<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Projects</title>
</head>
<body>
     {{> header}}
   
    <h1>{{title}}</h1>
    <hr>
    <h2>{{projects.0.title}}</h2>
    <p>{{projects.0.content}}</p>
    <hr>
    <h2>{{projects.1.title}}</h2>
    <p>{{projects.1.content}}</p>

    {{> footer}}
    
</body>
</html>